.x-axis > .tick > text {
  transform: translate(-23px, 12px) rotate(-50deg);

}

.y-label {
  transform: translate(-3rem, 15rem) rotate(-90deg);
}      

.x-label {
  transform: translate(-35rem, 4rem);
}

.svg-container{
  display: flex;
  flex-wrap: wrap;
}

.grid,
.x-axis,
.y-axis,
.x-axis >.tick ,
.y-axis >.tick {
  color : #f0f0f0;
}

.x-top-label,
.x-label,
.y-label {
  font-size: 10px;
}

.x-axis >.tick > text,
.y-axis >.tick > text,
.y-label ,
.x-label,
.x-top-label{
  color: #8d8a8a;
}
    